# Notebook of Joshua Smith
What follows is the code I wrote during the [Shirtable 2016-02-20_baltimore workshop](http://shirtable.io/2016-02-20-baltimore). The code is licensed under the [MIT license](https://opensource.org/licenses/MIT) and the words are licensed [CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/).

In [2]:
print "Hello world!"
print "Hello world?"

Hello world!
Hello world?

In [7]:
print 4 + 2

6

In [4]:
print 4 * 2

8

In [5]:
print 4 / 2

2

In [9]:
print (4 + 2) * 4

24

In [11]:
!head Most_Popular_Baby_Names__2009-2013.csv

YEAR,GENDER,NAME,COUNT
2009,MALE,DANIEL,3423
2009,MALE,ANTHONY,3106
2009,MALE,ANGEL,3058
2009,MALE,JACOB,2978
2009,MALE,ALEXANDER,2905
2009,MALE,ETHAN,2687
2009,MALE,DAVID,2648
2009,MALE,ANDREW,2605
2009,MALE,MATTHEW,2435

In [12]:
first_baby_name = "Daniel"
print first_baby_name

Daniel

In [13]:
# Number of male babies with three most popular names
first_baby_number = 3423
second_baby_number = 3106
third_baby_number = 3058

top_three_names = first_baby_number + second_baby_number + third_baby_number
print top_three_names

9587

In [14]:
length = 4
width = 2
area = length * width
print area

8

In [15]:
# change the value of the `length` variable
length = 6
print length

6

In [16]:
print area

8

# Do not use these words to name variables

    False      class      finally    is         return
    None       continue   for        lambda     try
    True       def        from       nonlocal   while
    and        del        global     not        with
    as         elif       if         or         yield
    assert     else       import     pass
    break      except     in         raise

In [20]:
try_this = "it works!"
print try_this

it works!

In [22]:
two_chainz = "no problem"

In [23]:
_fine_but = "leading underscores are legal, but they have special meaning"

In [24]:
2_chainz = "not ok"

SyntaxError: invalid syntax (<ipython-input-24-018f5b93fbec>, line 1)

In [28]:
wont-work = "nope"

SyntaxError: can't assign to operator (<ipython-input-28-daf6db172d4c>, line 1)

In [29]:
# this is a comment
a = "apple" # can also occur after assignment on a line

# Strings numbers and type

In [32]:
beginning = "2"
end = "Chainz"
print beginning, end
print beginning, end, beginning, beginning, end

2 Chainz
2 Chainz 2 2 Chainz

In [31]:
rapper = beginning + end
print rapper

2Chainz

In [33]:
rapper = beginning + " " + end
print rapper

2 Chainz

In [34]:
# Print all uppercase:
print rapper.upper()

2 CHAINZ

In [35]:
print rapper.lower()

2 chainz

In [36]:
print len(rapper)

8

In [37]:
i = 12
f_1 = 12.27
f_2 = 12.

type(i)

int

In [38]:
type(f_1)

float

In [39]:
type(f_2)

float

In [40]:
beginning = "2"
dos = 2
end = "Chainz"

# this should work
rapper = beginning + end
print rapper

2Chainz

In [41]:
# try with the int
rapper = dos + end

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [42]:
type(dos)

int

In [43]:
str_dos = str(dos)
type(str_dos)

str

In [44]:
print str_dos

2

In [45]:
rapper = str_dos + end
print rapper

2Chainz

In [46]:
"2" + "3"

'23'

In [47]:
2 + "3"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [48]:
pi = 3.14
str_pi = str(pi)
type(pi)

float

In [49]:
type(str_pi)

str

In [50]:
print beginning

2

In [51]:
type(beginning)

str

In [52]:
int_beginning = int(beginning)
type(int_beginning)

int

In [53]:
fl_beginning = float(beginning)

In [54]:
type(fl_beginning)

float

In [55]:
str_human_body_temp = "98.6"

fl_hbt = float(str_human_body_temp)
type(fl_hbt)

float

In [56]:
int_hbt = int(str_human_body_temp)

ValueError: invalid literal for int() with base 10: '98.6'

In [57]:
jrs = "Joshua Ryan Smith"
print jrs

Joshua Ryan Smith

In [58]:
print jrs.upper()

JOSHUA RYAN SMITH

In [59]:
print jrs.lower()

joshua ryan smith

In [60]:
dir(jrs)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getslice__',
 '__gt__',
 '__hash__',
 '__init__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '_formatter_field_name_split',
 '_formatter_parser',
 'capitalize',
 'center',
 'count',
 'decode',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'index',
 'isalnum',
 'isalpha',
 'isdigit',
 'islower',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [62]:
%whos

Variable              Type     Data/Info
----------------------------------------
a                     str      apple
area                  int      8
beginning             str      2
dos                   int      2
end                   str      Chainz
f_1                   float    12.27
f_2                   float    12.0
first_baby_name       str      Daniel
first_baby_number     int      3423
fl_beginning          float    2.0
fl_hbt                float    98.6
i                     int      12
int_beginning         int      2
jrs                   str      Joshua Ryan Smith
length                int      6
pi                    float    3.14
rapper                str      2Chainz
second_baby_number    int      3106
str_dos               str      2
str_human_body_temp   str      98.6
str_pi                str      3.14
third_baby_number     int      3058
top_three_names       int      9587
try_this              str      it works!
two_chainz            str      no problem
width                 int      2

In [63]:
str_dos.isdigit()

True

In [64]:
str_dos.isalpha()

False

In [65]:
b0 = {"year": 2009,
    "gender": "male",
    "name": "DANIEL",
    "count": 3423,}

b1 = {"year": 2009,
    "gender": "male",
    "name": "ANTHONY",
    "count": 3106,}

b2 = {"year": 2009,
    "gender": "male",
    "name": "ANGEL",
    "count": 3058,}

b3 = {"year": 2009,
    "gender": "male",
    "name": "JACOB",
    "count": 2978,}

b4 = {"year": 2009,
    "gender": "male",
    "name": "ALEXANDER",
    "count": 2905,}

babies = [b0, b1, b2, b3, b4]

# Looping and iteration

In [66]:
baby_names = ["DANIEL", "ANTHONY", "ANGEL", "JACOB", "ALEXANDER"]

In [69]:
for name in baby_names:
    print name
    print "====="

DANIEL
=====
ANTHONY
=====
ANGEL
=====
JACOB
=====
ALEXANDER
=====

In [70]:
!head -n 6 Most_Popular_Baby_Names__2009-2013.csv

YEAR,GENDER,NAME,COUNT
2009,MALE,DANIEL,3423
2009,MALE,ANTHONY,3106
2009,MALE,ANGEL,3058
2009,MALE,JACOB,2978
2009,MALE,ALEXANDER,2905

In [73]:
baby_numbers = [3423, 3106, 3058, 2978, 2905]

total_baby_numbers = 0

for baby_number in baby_numbers:
    print "before sum", total_baby_numbers
    total_baby_numbers = total_baby_numbers + baby_number
    print "after sum", str(total_baby_numbers)
    print "bottom of loop body"
    
print total_baby_numbers

before sum 0
after sum 3423
bottom of loop body
before sum 3423
after sum 6529
bottom of loop body
before sum 6529
after sum 9587
bottom of loop body
before sum 9587
after sum 12565
bottom of loop body
before sum 12565
after sum 15470
bottom of loop body
15470

In [75]:
baby_entry = {"year": 2009, 
              "gender": "MALE", 
              "name": "DANIEL", 
              "count": 3423}

for item in baby_entry:
    print item, baby_entry[item]

count 3423
gender MALE
name DANIEL
year 2009

In [77]:
baby_entry_keys = baby_entry.keys()
print baby_entry_keys

['count', 'gender', 'name', 'year']

In [79]:
total_baby_numbers = 0

for baby in babies:
    total_baby_numbers += baby["count"]
    
print total_baby_numbers

15470

In [82]:
for letter in "this is a string":
    print letter

t
h
i
s

i
s

a

s
t
r
i
n
g

In [83]:
with open("Most_Popular_Baby_Names__2009-2013.csv", "r") as f:
    baby_data = f.readlines()

In [84]:
type(baby_data)

list

In [85]:
print len(baby_data)

295193

In [86]:
print baby_data[0:10]

['YEAR,GENDER,NAME,COUNT\n', '2009,MALE,DANIEL,3423\n', '2009,MALE,ANTHONY,3106\n', '2009,MALE,ANGEL,3058\n', '2009,MALE,JACOB,2978\n', '2009,MALE,ALEXANDER,2905\n', '2009,MALE,ETHAN,2687\n', '2009,MALE,DAVID,2648\n', '2009,MALE,ANDREW,2605\n', '2009,MALE,MATTHEW,2435\n']

In [89]:
baby_data = []

with open("Most_Popular_Baby_Names__2009-2013.csv", "r") as f:
    for line in f:
        baby_data.append(line.strip())
        
print baby_data[:10]

['YEAR,GENDER,NAME,COUNT', '2009,MALE,DANIEL,3423', '2009,MALE,ANTHONY,3106', '2009,MALE,ANGEL,3058', '2009,MALE,JACOB,2978', '2009,MALE,ALEXANDER,2905', '2009,MALE,ETHAN,2687', '2009,MALE,DAVID,2648', '2009,MALE,ANDREW,2605', '2009,MALE,MATTHEW,2435']

In [90]:
with open("Most_Popular_Baby_Names__2009-2013.csv", "r") as f:
    baby_str = f.read()

In [93]:
baby_str[:1000]

'YEAR,GENDER,NAME,COUNT\n2009,MALE,DANIEL,3423\n2009,MALE,ANTHONY,3106\n2009,MALE,ANGEL,3058\n2009,MALE,JACOB,2978\n2009,MALE,ALEXANDER,2905\n2009,MALE,ETHAN,2687\n2009,MALE,DAVID,2648\n2009,MALE,ANDREW,2605\n2009,MALE,MATTHEW,2435\n2009,MALE,JOSHUA,2435\n2009,MALE,CHRISTOPHER,2416\n2009,MALE,MICHAEL,2352\n2009,MALE,NATHAN,2351\n2009,MALE,JAYDEN,2271\n2009,MALE,JOSE,2190\n2009,MALE,JOSEPH,2105\n2009,MALE,ADRIAN,2105\n2009,MALE,JONATHAN,2080\n2009,MALE,NOAH,2067\n2009,MALE,ISAAC,1873\n2009,MALE,AIDEN,1819\n2009,MALE,CHRISTIAN,1780\n2009,MALE,JULIAN,1774\n2009,MALE,DIEGO,1767\n2009,MALE,BRANDON,1733\n2009,MALE,GABRIEL,1660\n2009,MALE,KEVIN,1645\n2009,MALE,RYAN,1644\n2009,MALE,JESUS,1620\n2009,MALE,JUAN,1615\n2009,MALE,DYLAN,1603\n2009,MALE,AARON,1539\n2009,MALE,LUIS,1529\n2009,MALE,BENJAMIN,1486\n2009,MALE,WILLIAM,1475\n2009,MALE,ISAIAH,1468\n2009,MALE,SAMUEL,1403\n2009,MALE,ELIJAH,1390\n2009,MALE,LOGAN,1386\n2009,MALE,CARLOS,1326\n2009,MALE,JAMES,1302\n2009,MALE,SEBASTIAN,1278\n2009,MALE,NICHOLAS,1263\n2009,MALE,EVAN,1213\n2009,MAL'

In [94]:
baby_data = baby_str.split("\n")

In [95]:
type(baby_data)

list

In [96]:
baby_data[:10]

['YEAR,GENDER,NAME,COUNT',
 '2009,MALE,DANIEL,3423',
 '2009,MALE,ANTHONY,3106',
 '2009,MALE,ANGEL,3058',
 '2009,MALE,JACOB,2978',
 '2009,MALE,ALEXANDER,2905',
 '2009,MALE,ETHAN,2687',
 '2009,MALE,DAVID,2648',
 '2009,MALE,ANDREW,2605',
 '2009,MALE,MATTHEW,2435']

In [97]:
with open("2011_baby_data.csv", "w") as f:
    f.write(baby_data[0])

In [99]:
start_line = 120460
end_line = 179044

with open("2011_baby_data.csv", "w") as f:
    for line in baby_data[start_line:end_line]:
        f.write(line + "\n")

In [101]:
data_2011 = "\n".join(baby_data[start_line:end_line])

with open("2011_baby_data.csv", "w") as f:
    f.write(data_2011)